<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.metropolia.attendancesystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceSystem">
        <activity
            android:name=".AddSuperVisor"
            android:exported="false" />
        <activity
            android:name=".Info"
            android:exported="false"
            android:theme="@style/Theme.AttendanceSystem.popUp"/>
        <activity
            android:name=".EmployerViewHistory"
            android:exported="false" />
        <activity
            android:name=".EmployerEdit"
            android:exported="false"
            android:theme="@style/Theme.AttendanceSystem.popUp" />
        <activity
            android:name=".Employee_history"
            android:exported="false" />
        <activity
            android:name=".EmployeeWindow"
            android:exported="false" />
        <activity
            android:name=".EmployerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>